.navBarWrapper {
    display: flex;
    justify-content: space-between;
    margin: 0.625rem 0;
    background-color: var(--grey-10);
    padding: 0.625rem;
}

.link {
    text-decoration: none;
    display: flex;
    align-items: center;
    padding-right: 0.625rem;
    color: var(--grey-70);
}

.link > svg {
    margin: 0 0.625rem;
}

.rightLinks {
    display: flex;
}