@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;600&family=Roboto:wght@100&display=swap");

p {
  margin: 0;
  padding: 0;
}

div {
  margin: 0;
  padding: 0;
}

:root {
  --primary: #448aff;
  --white: #ffffff;
  --blue: #2962ff;
  --secondary: #424242;
  --grey-100: #bdbdbd;
  --grey-400: #e0e0e0;
  --grey-500: #757575;
  --blue-100: #bbdefb;
  --blue-50: #e3f2fd;
  --grey-70: #525252;
  --grey-20: #e0e0e0;
  --grey-10: #FAFAFA;
  --danger: #FF1744
}

body {
  font-family: "Quicksand", sans-serif;
}

/* Button styles */

.btn {
  padding: 0.625rem;
  height: 3rem;
  margin: 0.625rem 0;
  font-family: "Quicksand", sans-serif;
  text-align: left;
  border: none;
  cursor: pointer;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--white);
}

.btn-secondary {
  background-color: var(--secondary);
  color: var(--white);
}

/* label and input styles */

.label {
  font-size: small;
  margin: 0.25rem;
}

.textInput {
  padding: 0.625rem;
  font-family: "Quicksand", sans-serif;
  font-size: .8rem;
  margin: 0.625rem 0;
}

.labelDanger {
  color: var(--danger);
  font-size: small;
}
